@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ color-scheme: dark; }
.scrollbar-hide::-webkit-scrollbar{display:none;}
.scrollbar-hide{-ms-overflow-style:none;scrollbar-width:none;}


@layer base {
  html, body, #root {
    @apply bg-gray-950 text-gray-100 min-h-screen;
  }
  h1, h2, h3 {
    @apply text-gray-100;
  }
  p, span, small, label, input::placeholder {
    @apply text-gray-300;
  }
}